.container {
	padding-top: 20px;
	padding-bottom: 20px;
}

.filter-container {
	padding: 0px;
	background-color: #f7f7f7;
	height: 100vh;
	overflow-y: scroll;
}

.card-img-top {
	height: 200px;
	object-fit: cover;
}

.card-body {
	padding: 10px;
}
