
.card {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-2px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.card.selected {
    background-color: #007bff;
    color: white;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.card.selected:hover {
    transform: none;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.card.selected h3 {
    color: white;
}
body
{
    background-color: #FCEEC7;
}

.card {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-2px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.card.selected {
    background-color: #007bff;
    color: white;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.card.selected:hover {
    transform: none;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.card.selected h3 {
    color: white;
}

.top
{
    padding: 2rem;
    background-color: #FCEEC7;
}

h1
{
    padding: 2%;
}
h2
{
    padding-left: 2%;
    padding-bottom: 1%;
}

.cards
{
    padding: 10rem 10rem 2rem 10rem;
}

.pref
{
    padding: 2rem 2rem 6rem 2rem;
    text-align: center;

}

.card-img-overlay {
    background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.7) 100%);
  }
  .card-title {
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    margin-top: 60px;
    
  }

  .card.selected {
    border: 8px solid rgb(51, 244, 51);
  }
  

