/* Style for the left-hand side with the cards and checkboxes */
#left {
    float: left;
    width: 50%;
    padding: 20px;
}

.card {
    margin-bottom: 20px;
}

/* Style for the table on the right-hand side */
#right {
    float: right;
    width: 50%;
    padding: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding-left: 10rem;
  }
  
  th, td {
    text-align: left;
    padding: 12px;
  }
  
  th {
    background-color: #e6e6e6;
    color: #333;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  
  @media only screen and (max-width: 600px) {
    th, td {
      padding: 6px;
    }
  }

  #myform {
    /* padding: 2px; */
    /* margin: 2%; */
}
.qty {
    width: 40px;
    height: 25px;
    text-align: center;
}
input.qtyplus { width:25px; height:25px;}
input.qtyminus { width:25px; height:25px;}
  

/* Hide the selected options table initially */
#selectedOptionsTable {
    display: none;
    
}