@font-face {
  font-family: 'Metropolis';
  src: url('"Metropolis-Black.otf"') format('otf')

}

body {
  font-family: 'Metropolis', sans-serif;
  }
  .login-page
  {
    background-color: #FCEEC7;
  }
  
  .login-container {
    background-color: #FFFFFF;
    max-width: 400px;
    margin: 100px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  }
  
  button {
    background-color: #FFC107;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #FFA000;
  }
  
  p {
    font-size: 14px;
    text-align: center;
  }

  .signup {
    margin-left: 150px;
  }
  .navbar
  {
    padding: 0.3rem 0 0.3rem;
  }


.navbar-brand
{
    /* font-size: 2.5rem;
    font-weight: 700; */
    padding-left: 2%;
    font-family: 'Metropolis', sans-serif;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); */
}

.nav-item
{
    padding: 0 18px;
}

.nav-link
{
    font-size: 1.2rem;
    font-weight: 300;
}

.desc
{
  padding: 20rem;
  background-image: url("bgimg.jpg");
background-size: cover;
  /* background-color: #FCEEC7; */
	/* height: 500px; /* Set the height of the container */
	/* width: 100%; Set the width of the container */ 
			/* You can add other CSS styles to the container as needed */
  
}

.exp
{
  background-color: white;
  text-align: center;
}

.Explore
{
  padding: 7% 15%;
  background-color: white;
}

.explore-box1
{
  text-align: center;
}

.explore-box2
{
  text-align: center;
}

.exp-para
{
  padding-top: 1.2rem;
  font-family: 'Metropolis', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.exp-btn
{
  margin-top: 30px;
  background-color: #FCAF17;
  border: none;
  color: #fff;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  border-radius: 30px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  font-family: 'Metropolis', sans-serif;
}

.container-fluid
{
  padding: 3% 15%;
}

.Explore
{
  background-color: #c8d8c9;
}

.underline-animation {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
}

.underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: blue;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out 0s;
}

.underline-animation:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

.text-reveal1
{
  font-family: 'Metropolis', sans-serif;
  font-size: 3rem;
  font-weight: 600;  
  padding-bottom: 2.5rem;
  margin-top: 3rem;
}

.text-reveal2
{
  text-align: center;
  font-family: 'Metropolis', sans-serif;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.fade-in.show {
  opacity: 1;
}

.fade-in2 {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.fade-in2.show {
  opacity: 1;
}



/* .card-image-overlay
{
  background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.7) 100%);
} */



.img-show {
    align-content: center;
}


